body {
  margin: 0px;
  background-color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

header {
  width: 100%;
  height: 4em;
  background-color: rgb(14, 110, 84);
  white-space: nowrap;
  color: white;
  margin-bottom: 1em;
}

nav {
  display: flex;
  align-items: stretch;
  max-width: 900px;
  margin:auto;
}

form.search {
  display: flex;
}

ul {
  margin: 0px;
  padding-inline-start: 0px;
}

.brand {
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  vertical-align: middle;
  margin-left:40px;
  margin-top: 10px;
  color: inherit;
}

.search_box{
  margin: auto;
  padding: 1em;
  max-width: 900px;
  display: flex;
  justify-content: start;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
}

.fullSearchBox.search_box {
  min-height: calc(100vh - 6em);
}

.fullSearchBox.search {
  max-height: 40vh;
  font-size: 250%;
  border-width: 1vh;
}

.fullSearchBox.search_icon {
  flex: 0 0 20%;
}

.fullSearchBox.search_icon:hover {
  filter: drop-shadow(1px 1px 3px rgb(14, 110, 84));
}

.search {
  padding: 10px;
  font-size: 1.3em;
}

.minSearchBar {
  flex: 0 1 40%;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
}

.maxSearchBar {
  flex: 1 1 100%;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
}

.error_msg {
  font-size: 10vw;
}

#searchbar { 
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 0.2em;
  border-color: rgb(14, 110, 84);
  border-radius: 0px;
}

#searchbar:focus { 
  outline-style: none;
  filter: hue-rotate(180deg);
}

.nom_button {
  color: rgb(14, 110, 84);
}

.remove_button {
  color: rgb(143, 18, 24);
}

.svg_button {
  border-style: none;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  width: 6.5em;
}

.svg_button.page_button {
  width: 5em;
}

.svg_button:focus {
  outline-style: none;
  filter: hue-rotate(240deg);
}

.svg_button:disabled {
  opacity: 0.5;
  filter: hue-rotate(45deg)
}

.search_button {
  padding: 0px;
  margin-right: 0.5em;
  flex: 0 0 2.5em;
  justify-content: center;
}

.svg_icon:hover {
  filter: drop-shadow(0px 0px 1px rgb(14, 110, 84)) opacity(0.8);
}

.search_button:hover {
  filter: hue-rotate(180deg);
}

.nom_icon:hover {
  filter: drop-shadow(0px 0px 1px rgb(14, 110, 84)) opacity(0.8);
}

.remove_icon:hover {
  filter: drop-shadow(0px 0px 1px rgb(143, 18, 24)) opacity(0.8);
}

.content_box {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: calc(100vh - 4em);
  max-width: 900px;
  border-color: black;
  padding: 1em;
}

.movie_grid {
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.movie_item {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.movie_info {
  margin-left: 1em;
}

.movie_title {
  margin-bottom: 0em;
}

.nom_item.movie_title {
  margin-bottom: 0.5em;
}

.movie_year {
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.movie_poster {
  max-width: 150px;
  max-height: 222px;
}

#search_info {
  font-weight: normal;
}

#result_box {
  flex: 1 1 50%;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
}

#nom_box {
  flex: 1 1 50%;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
}

#pages {
  display: flex;
  justify-content: space-between;
}

#pages.edge_page {
  justify-content: center;
}

footer {
  width: 100%;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 1em;
  background-color: rgb(6, 72, 60);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  color:rgb(251, 247, 237);
}

.credit {
  font-size: larger;
  color:rgb(251, 247, 237);
  margin: 10px;
}

.other_credit {
  font-size: smaller;
  color: rgb(251, 247, 237);
  margin: 2px;
}

.hide {
  width: 0px;
  height: 0px;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  position: relative;
  left: -100vw;
  top: -100vh;
  flex: 0 0 0px;
  min-width: 0px;
  min-height: 0px;
}

.invis {
  opacity: 0;
}

@media (max-width: 700px) {
  .search_box{
    padding: 0.5em;
    max-width: 650px;
  }

  .fullSearchBox.search {
    max-width: 70vw;
    font-size: 8vw;
  }

  .search_button {
    margin-right: 0.2em;
    flex: 0 0 2em;
  }

  .content_box {
    padding: 0.5em;
  }

  #search_info {
    font-size: 1em;
  }

  #nom_info {
    font-size: 1.5em;
  }

  .movie_grid {
    align-items: center;
  }

  .movie_item {
    flex-direction: column;
    align-items: center;
  }

  .movie_poster {
    max-width: 75px;
    max-height: 111px;
  }

  .movie_title {
    margin-top: 0.5em;
    text-align: center;
  }
  
  #nom_info {
    text-align: center;
  }

  .nom_item.movie_title {
    margin-bottom: 0.1em;
  }

  .result_item.movie_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .nom_item.movie_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .other_credit {
    font-size: xx-small;
  }
}

@media (max-width: 330px) {
  .fullSearchBox.search {
    font-size: 6vw;
  }

  .search {
    font-size: 1em;
    padding: 3px;
  }

  .search_button {
    margin-right: 0.2em;
    flex: 0 0 1.5em;
  }

  .content_box {
    padding: 0.1em;
  }

  .movie_title {
    font-size: 1em;
  }

  .movie_year {
    font-size: 0.8em;
  }
}